.profileContenair{
    width: calc(100vw - 750px );
    background-color: rgb(241,241,241);
    display: flex;
    transition: 1.1s;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.DarkprofileContenair{
    width: calc(100vw - 750px );
    background-color: rgb(11,11, 11);
    transition: 1.1s;
    display: flex;
    transition: 1.1s;
    flex-direction: column;
    position: relative;
    align-items: center;
    
}

.coverImg{
    width: 1024px;
    height: 300px;
}

.profileImg{
    width: 200px;
    height: 200px;
    border-radius:50%;
    position: absolute;
    top: 200px;
}

.userProfileInfo{
    width: 750px;
    height: 220px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.userProfileInfoDark{
    width: 750px;
    height: 220px;
    border-radius: 20px;
    background-color: rgb(73, 73, 73);
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.userSocialMedia{
    display: flex;
    gap: 10px;
}
.profileMetaData{
    display:flex;
    margin-bottom: 20px;
}

.userBottomSection{
    display: flex;
    align-items: center;

}

.messanger{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msgIcons{
    position: absolute;
    right: 210px
}