.navbar{
    height: 70px;
    border-bottom: 1px solid #9098a5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    transition: 1.1s;
}

.darkNavbar{
    height: 70px;
    border-bottom: 1px solid #9098a5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 1.1s;
}


.leftSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.logo{
    display: inline;
    font-size: 2rem;
    font-weight:500;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #1388bc;
}

.searchBar{
    height: 30px;
    border: 1px solid #9098a5;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.searchBar input{
    border: none;
    outline: none;
    width: 370px;
    height: 23px;
    border-radius: 10px;
}

.searchBar:hover{
    border: 2px solid #1388bc;
}

.rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.userDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navBarIcons:hover{
    transform: scale(1.1);
}